@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --white-color: #ffffff;
    --black-color: #333333;
    --dark-blue-color:#1A2E6B;
    --blue-color:#2755c4;
    --light-blue-color: #6871AF;
    --dark-gray-color:#A4AFCF;
    --gray-color:#F3F3FA;
    --light-yellow-color:#fff8e6;
    --light-green-color:#fff8e6;
    --light-pink-color:#fff0f1;
}
.ant-form-item {
    margin-bottom: 0;
}

