@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --white-color: #ffffff;
    --black-color: #333333;
    --dark-blue-color:#000b8d;
    --blue-color:#2755c4;
    --gray-color:#eff0fa;
    --light-yellow-color:#fff8e6;
    --light-green-color:#fff8e6;
    --light-pink-color:#fff0f1;
    --primary-gradient:linear-gradient(to right, #0c1dff, #264af3)
}

